html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background-size: cover;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: url(../../us-house/images/backgrounds/1920x1080/us-house.jpg) center center no-repeat;
    background-size: cover;
}

section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

header {
    height: 100px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC000000', endColorstr='#00000000', GradientType=0);
}

header h1 {
    margin: 0;
    color: #FFF;
    font-weight: 300;
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: default;
}

.representatives {
    width: 100%;
    height: calc(100% - 160px);
    position: absolute;
    top: 100px;
    left: 0;
    overflow: auto;
    margin: 0 auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    transition: opacity 1s;
    opacity: 0;
}
.representatives.enabled {
    opacity: 1;
}
section {
    transition: filter 0.5s;
}
section.searching {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.push {
    display: block;
    height: 80px;
    width: 100%;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
.card-square.mdl-card {
    width: 320px;
    height: 400px;
    margin: 1rem;
    transition: box-shadow 0.15s;
    display: inline-block;
    text-align: left;
    background: transparent;
}
.mdl-card__supporting-text, .mdl-card__actions {
    background: #FFF;
}

.card-square.mdl-card:hover, .card-square.mdl-card:focus {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .3), 0 3px 14px 2px rgba(0, 0, 0, .2), 0 5px 5px -3px rgba(0, 0, 0, .3);
}

.card-square > .mdl-card__accent {
    background: #ff9800;
}

.mdl-button {
    min-width: 27px;
}

.mdl-button i {
    line-height: 36px;
    font-size: 20px;
}

.card-square.mdl-card:first-child {
    margin-top: 0;
}

.card-square .mdl-card__actions a {
    opacity: 0.25;
    transition: opacity 0.25s;
}

.card-square:hover .mdl-card__actions a, .card-square:focus .mdl-card__actions a {
    opacity: 1;
}

.card-square > .mdl-card__title {
    background: url(background.png) center center no-repeat rgba(0,0,0,0.33);
    background-size: 100% auto;
    overflow: hidden;
    position: relative;
    transition: background-size 0.15s;
    height: 280px;
    margin: -1px;
    color: #fff;
}

.card-square:hover > .mdl-card__title, .card-square:focus > .mdl-card__title {
    background-size: 110% auto;
}

.card-square > .mdl-card__title > .mdl-card__title-text {
    z-index: 20;
    padding: 0 1px;
    position: relative;
}

.card-square > .mdl-card__title > .overlay {
    z-index: 10;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 50%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#AA000000', GradientType=0);
}

#search {
    background: #222;
    color: #FFF;
}

.footer {
    height: 60px;
    line-height: 60px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#AA000000', GradientType=0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer a {
    text-decoration: none;
    padding: 0 20px;
    color: #FFF;
    font-weight: 300;
    opacity: 0.75;
    transition: opacity 0.25s;
    line-height: 60px;
    text-shadow: 3px 3px rgba(0,0,0,.95);
    position: relative;
}

.footer a:hover, .footer a:focus {
    opacity: 1;
}

.footer a span {
    line-height: 60px;
    display: inline-block;
    vertical-align: super;
    text-indent: 6px;
}

.footer a i {
    line-height: 60px;
    display: inline-block;
}

.mdl-button.mdl-button--colored {
    color: #333
}

.mdl-button.mdl-button--colored:focus {
    color: #000;
    background: #FFF;
}

.mdl-ripple {
    background: #1da1f2;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;

    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fade-in.c0 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}

.fade-in.c1 {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.fade-in.c2 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    animation-delay: .1s;
}

.fade-in.c3 {
    -webkit-animation-delay: .15s;
    -moz-animation-delay: .15s;
    animation-delay: .15s;
}

.fade-in.c4 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
}

.fade-in.c5 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.fade-in.c6 {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in.c7 {
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.fade-in.c8 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fade-in.c9 {
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.fade-in.c10 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.fade-in.c11 {
    -webkit-animation-delay: 0.55s;
    -moz-animation-delay: 0.55s;
    animation-delay: 0.55s;
}

.fade-in.c12 {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fade-in.c13 {
    -webkit-animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

.fade-in.c14 {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.c15 {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

x
.fade-in.c16 {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
}

.force-overflow {
    min-height: calc(100% - 160px);
    overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    border: none;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    display: none;
}

.modal .modal-content {
    width: 300px;
    height: 360px;
    background: #FFF;
    margin: 0 auto;
    margin-top: calc(50vh - 180px);
    z-index: 6000;
    position: relative;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .3), 0 3px 14px 2px rgba(0, 0, 0, .2), 0 5px 5px -3px rgba(0, 0, 0, .3);
    padding: 0;
    border-radius: 2px;
    overflow: hidden;
}

.modal .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 5000;
}

.modal .filter-header {
    height: 85px;
    padding: 20px 20px 0 20px;
}

.modal .filter-options {
    height: calc(100% - 115px);
    width: 100%;
}

.control-group {
    display: block;
    vertical-align: top;
    background: #fff;
    text-align: left;
}

.modal .filter-options .control-group {
    padding-left: 20px;
}

.control-group h2 {
    font-weight: 400;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 300;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #333;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #333;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.stats {
    color: #bbb;
    margin-top: 6px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.stats span {
    color: #666;
    font-weight: 400;
}

.stats .percent {
    color: #bbb;
}

.stats .control {
    padding-left: 0 !important;
}

.toggle-filter {
    display: none;
}

.toggle-filter-button {
    text-decoration: none;
    color: #333;
    margin-left: -8px;
    display: block;
    width: 100%;
}

input[type="text"] {
    font-size: 20px;
    line-height: 30px;
    padding: 8px 16px;
    border: 1px solid #dddddd;
    width: 100%;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #bbbbbb;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 46px;
    }
    .modal .modal-content {
        margin-top: calc(50vh - 200px);
    }
}

@media (max-width: 414px) {
    header {
        height: 80px;
    }

    header h1 {
        line-height: 80px;
        font-size: 24px;
        font-weight: 500;
    }

    .representatives {
        height: calc(100% - 140px);
        top: 80px;
    }

    .footer a span {
        display: none;
    }
}

@media (max-width: 375px) {
    header {
        height: 70px;
    }

    header h1 {
        line-height: 70px;
        font-size: 24px;
        font-weight: 500;
    }

    .representatives {
        height: calc(100% - 130px);
        top: 70px;
    }
}

@media (max-width: 320px) {
    .card-square.mdl-card {
        width: 290px;
        height: 360px;
    }

    .card-square > .mdl-card__title {
        height: 240px;
    }

    .mdl-button {
        min-width: 23px;
    }
}

label.badge {
    position: absolute;
    background: #d41717;
    text-shadow: none;
    font-weight: 600;
    font-size: 9px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-indent: 0;
    border-radius: 50%;
    top: -16px;
    left: 16px;
    color: #FFF;
    display: none;
}
.show-filtering {
    position: relative;
    right: 10px;
    top: 10px;
    float: right;
    display: none;
}

#loading {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 999;
}
#loading #preloader {
    position: relative;
    width: 100%;
    height: 80px;
    top: calc(50% - 50px);
    text-align: center;
    margin: 0 auto;
}
#loading #preloader span {
    position: absolute;
    border: 8px solid #fff;
    border-top: 8px solid transparent;
    border-radius: 999px;
}
#loading #preloader span:nth-child(1) {
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    -webkit-animation: spin-1 1s infinite ease;
    -moz-animation: spin-1 1s infinite ease;
    animation: spin-1 1s infinite ease;
}
#loading #preloader span:nth-child(2) {
    top: 20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    -webkit-animation: spin-2 1s infinite ease;
    -moz-animation: spin-2 1s infinite ease;
    animation: spin-2 1s infinite ease;
}
#loading #preloader:after {
    content: "Civil Services";
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    top: 110px;
    width: 100%;
    left: 0;
    right: 0;
    height: 1px;
    text-align: center;
    text-indent: 15px;
}

@-webkit-keyframes spin-1 {
    0% {
        -webkit-transform: rotate(360deg);
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.5
    }
    100% {
        -webkit-transform: rotate(0deg);
        opacity: 1
    }
}

@-moz-keyframes spin-1 {
    0% {
        -moz-transform: rotate(360deg);
        opacity: 1
    }
    50% {
        -moz-transform: rotate(180deg);
        opacity: 0.5
    }
    100% {
        -moz-transform: rotate(0deg);
        opacity: 1
    }
}

@keyframes spin-1 {
    0% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0.5
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1
    }
}

@-webkit-keyframes spin-2 {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 0.5
    }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 1
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0.5
    }
}

@-moz-keyframes spin-2 {
    0% {
        -moz-transform: rotate(0deg);
        opacity: 0.5
    }
    50% {
        -moz-transform: rotate(180deg);
        opacity: 1
    }
    100% {
        -moz-transform: rotate(360deg);
        opacity: 0.5
    }
}

@keyframes spin-2 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0.5
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0.5
    }
}